In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import datetime as dt
import matplotlib.pyplot as plt
import math

In [2]:
start_date = dt.datetime(2020,4,1)
end_date = dt.datetime(2023,4,1)
 
#loading from yahoo finance
data = yf.download("AAPL",start_date, end_date)
 
# pd.set_option('display.max_rows', 4)
# pd.set_option('display.max_columns',5)

data.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-04-01  61.625000  62.180000  59.782501  60.227501  58.739857  176218400
2020-04-02  60.084999  61.287498  59.224998  61.232498  59.720039  165934000
2020-04-03  60.700001  61.424999  59.742500  60.352501  58.861763  129880000
2020-04-06  62.724998  65.777496  62.345001  65.617500  63.996738  201820400
2020-04-07  67.699997  67.925003  64.750000  64.857498  63.255497  202887200

In [3]:
# Setting 80 percent data for training
training_data_len = math.ceil(len(data) * .8)
training_data_len 

#Splitting the dataset
# train_data = data[:training_data_len].iloc[:,:1] 
# test_data = data[training_data_len:].iloc[:,:1]
train_data = data[:training_data_len].iloc[:,:] 
test_data = data[training_data_len:].iloc[:,:]
print(train_data.shape, test_data.shape)
train_data.head()

print("Train Max: ", train_data.Open.max())
print("Train Min: ", train_data.Open.min())
print("Test Max: ", test_data.Open.max())
print("Test Min: ", test_data.Open.min())

(605, 6) (151, 6)
Train Max:  182.6300048828125
Train Min:  60.084999084472656
Test Max:  170.57000732421875
Test Min:  126.01000213623047

In [4]:
# Selecting Open Price values
# dataset_train = train_data.Open.values 
# # Reshaping 1D to 2D array
# dataset_train = np.reshape(dataset_train, (-1,1)) 
# pd.DataFrame(dataset_train).head()
# dataset_train.shape

dataset_train = train_data.values
# Reshaping 2D to 3D array
# dataset_train = np.reshape(dataset_train, (-1,6)) 
# dataset_train = dataset_train[:, :, np.newaxis]
# dataset_train = dataset_train.reshape((605, 6, 1))
# pd.DataFrame(dataset_train).head()
dataset_train.shape

(605, 6)

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
# scaling dataset
dataset_train = scaler.fit_transform(dataset_train)

dataset_train = np.reshape(dataset_train, (-1,6)) 

print(dataset_train.shape)
# dataset_train = dataset_train[:, :, np.newaxis]
scaled_train = dataset_train.reshape((dataset_train.shape[0], 6, 1))

# print(scaled_train[:5])

scaled_train.shape

# pd.DataFrame(scaled_train[:, :, 0]).head()

(605, 6)

(605, 6, 1)

In [10]:
# Selecting Open Price values
# dataset_test = test_data.Open.values  
# Reshaping 1D to 2D array
# dataset_test = np.reshape(dataset_test, (-1,6)) 
# # Normalizing values between 0 and 1
# scaled_test = scaler.fit_transform(dataset_test) 

dataset_test = test_data.values  
# Reshaping 1D to 2D array
scaled_test = scaler.fit_transform(dataset_test) 
scaled_test = np.reshape(dataset_test, (-1,6)) 
scaled_test = scaled_test.reshape((scaled_test.shape[0], 6, 1))
print(*scaled_test[:5])

scaled_test.shape

[[1.68779999e+02]
 [1.70139999e+02]
 [1.68350006e+02]
 [1.70029999e+02]
 [1.68589737e+02]
 [5.12182000e+07]] [[1.70570007e+02]
 [1.71050003e+02]
 [1.63559998e+02]
 [1.63619995e+02]
 [1.62234039e+02]
 [7.89610000e+07]] [[1.61149994e+02]
 [1.62899994e+02]
 [1.59820007e+02]
 [1.61380005e+02]
 [1.60013016e+02]
 [7.33140000e+07]] [[1.62130005e+02]
 [1.62559998e+02]
 [1.57720001e+02]
 [1.58910004e+02]
 [1.57563965e+02]
 [7.79062000e+07]] [[1.60309998e+02]
 [1.60580002e+02]
 [1.57139999e+02]
 [1.57220001e+02]
 [1.55888245e+02]
 [8.79911000e+07]]

(151, 6, 1)

In [27]:
X_train = []
y_train = []
for i in range(50, len(scaled_train)):
	X_train.append(scaled_train[i-50:i, :, 0])
	y_train.append(scaled_train[i, 0])
	# if i <= 51:
	# 	print(X_train)
	# 	print(y_train)
	# 	print()
 

# pd.DataFrame(X_train[:][:][0]).head()

# np.array(X_train).shape

In [28]:
X_test = []
y_test = []
for i in range(50, len(scaled_test)):
	X_test.append(scaled_test[i-50:i, :, 0])
	y_test.append(scaled_test[i, 0])

np.array(X_test).shape

(101, 50, 6)

In [35]:
# The data is converted to Numpy array
X_train, y_train = np.array(X_train), np.array(y_train)

#Reshaping
# X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1],1))
y_train = np.reshape(y_train, (y_train.shape[0],1))
print("X_train :",X_train.shape,"y_train :",y_train.shape)

pd.DataFrame(X_train[:, :6, 0]).head()

X_train : (555, 50, 6) y_train : (555, 1)

          0         1         2         3         4         5
0  0.012567  0.000000  0.005019  0.021543  0.062140  0.045697
1  0.000000  0.005019  0.021543  0.062140  0.045697  0.057856
2  0.005019  0.021543  0.062140  0.045697  0.057856  0.057061
3  0.021543  0.062140  0.045697  0.057856  0.057061  0.080909
4  0.062140  0.045697  0.057856  0.057061  0.080909  0.085805

In [76]:
# The data is converted to numpy array
X_test, y_test = np.array(X_test), np.array(y_test)

#Reshaping
# X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1],1))
y_test = np.reshape(y_test, (y_test.shape[0],1))
print("X_test :",X_test.shape,"y_test :",y_test.shape)

X_test : (101, 50, 6) y_test : (101, 1)